{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 media">
                <img src="{% static 'images/pic1.jpg' %}" width="300" height="225">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <p>Every musician, whether amateur or professional, knows that there are few things more enjoyable than playing music with others.</p>
                <p>And the chamber music repertory is full of incredible music for small groups of instrumentalists to enjoy playing together.</p>
                <p><strong>Chamber Mates</strong> exists to help musicians, of any standard and no matter what instrument(s) they play, find fellow players. Once you have <a href="/register/">registered</a>, you will instantly find other players near to you with whom you can form a string quartet, piano trio, or whaever other chamber group you have in mind.</p>
                <p>You can then send private messages to those other players - and hopefully then meet up and make music together. If it works out, you can even register as a group, and use Chamber Mates to arrange your meetings and rehearsals - as well as publicising any concerts should you wish to perform in public!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 media">
                <img src="{% static 'images/pic2.jpg' %}" width="300" height="225">
            </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                <h3>So what are you waiting for?</h3>
                <p>Sign up, and let Chamber Mates point you towards your future musical friends!</p>
            </div>
        </div>
    </div>
{% endblock %}