{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Why chamber music?</h3>
                <p><strong>Chamber music</strong>, broadly speaking, is music for small groups of instrumentalists (typically between 2 and 8), with only one musician to each part. The string quartet is undoubtedly the most famous and perhaps highly-regarded chamber music group, but there are countless other combinations - some involving just strings, some including wind instruments, some with piano, and more - for which great music has been written in the past and is being written now.</p>
                <p><strong>Chamber mates</strong> believes that for musicians looking to meet up with other musicians and make friends, there is no better form of music.</p>
                <p>It is simply the natural thing to play for a small group of friends who want to make music together - much more informal than an orchestra (not to mention much easier to form from scratch!), and with the opportunity to go deeply into music that the group loves, to make their own collective decisions about what music to play and how to play it.</p>
                <p>And what a choice there is! There are literally thousands of amazing works written for chamber groups of all kinds - of which just a small handful can be seen below:</p>
            </div>
        </div>
        <div class="row media-row">
            <div class="media-flex">
                <iframe width="300" height="169" src="https://www.youtube.com/embed/2_nHdYtH3LQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="media-flex">
                <iframe width="300" height="169" src="https://www.youtube.com/embed/HsQs5NGZTfk" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="media-flex">
                <iframe width="300" height="169" src="https://www.youtube.com/embed/_8fX1LmqG8s" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="media-flex">
                    <iframe width="300" height="169" src="https://www.youtube.com/embed/w5DfzVJsQzU" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="media-flex">
                    <iframe width="300" height="169" src="https://www.youtube.com/embed/y8LXpPkfa20" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="media-flex">
                    <iframe width="300" height="169" src="https://www.youtube.com/embed/gQTNEx4P3qU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}
