{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block content %}
    <div class="container">
        <div id="group-header">
            <h2>{{ group.name }}</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h3>Members:</h3>
                <ul>
                    {% for instr in group.members.all %}
                        <li>
                            <a href="{% url 'user_profile' username=instr.user.username %}">
                                {{ instr.user.username }}
                            </a> 
                            - {{ instr.instrument.instrument }}
                        </li>
                    {% endfor %}
                </ul>
                {% if my_invites.all or other_invites.all %}
                    <h4>Users invited to join:</h4>
                    <ul>
                        {% for invite in my_invites.all %}
                            <li>
                                <a href="{% url 'user_profile' username=invite.invited_user.username %}">
                                    {{ invite.invited_user.username }}
                                </a>
                                to play {{ invite.invited_instrument.instrument }}
                                <form role="form" method="post" action="">
                                    {% csrf_token %}
                                    {{ mini_form | as_bootstrap_inline }}
                                    <button type="submit" class="btn btn-success btn-sm">Go!</button>
                                </form>
                            </li>                        
                        {% endfor %}
                        {% for invite in other_invites.all %}
                            <li>
                                <a href="{% url 'user_profile' username=invite.invited_user.username %}">
                                    {{ invite.invited_user.username }}
                                </a>
                                to play {{ invite.invited_instrument.instrument }}
                            </li>                        
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if group.desired_instruments.all %}
                    <h4>Still looking for players of the following instruments:</h4>
                    {% if not member %}
                        <p>(If you would like to join, try sending a message to one of the existing members!)</p>
                    {% endif %}
                    <ul>
                        {% for desired in group.desired_instruments.all %}
                            <li>
                                {{ desired.instrument }}
                                {% if member %}
                                    <button class="btn btn-sm btn-success invite-button" onclick="location.href='{% url "specific_invite" group_id=group.pk instr_name=desired.instrument %}';">
                                        Invite someone!
                                    </button>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="row">
                    <div id="dashboard-buttons">
                        {% if member %}
                            <button class="btn btn-success" onclick="location.href='{% url "update" id=group.pk %}';">
                                Edit group details
                            </button>
                        {% endif %}
                        <button class="btn btn-success" onclick="location.href='{% url "my_groups" %}';">
                            All my groups
                        </button>
                    </div>
                </div>
            </div>
            {% if member %}
                <div class="col-xs-12 col-sm-6">
                    <h3>Group conversations</h3>
                    {% if threads %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <th>Topic</th>
                                    <th>Started by</th>
                                    <th>Replies</th>
                                    <th>Last post</th>
                                </thead>
                                <tbody>
                                    {% for thread in threads %}
                                        <tr id="thread-no-{{ forloop.counter }}">
                                            <td><a href="{% url 'view_thread' group_id=group.pk thread_id=thread.pk %}">
                                                {{ thread.name|truncatewords:4 }}
                                            </a></td>
                                            <td><a href="{% url 'user_profile' username=thread.started_by.username %}">
                                                {{ thread.started_by.username }}
                                            </a></td>
                                            <td>{{ thread.groupmessage_set.count|add:"-1"}}</td>
                                            <td><a href="{% url 'view_thread' group_id=group.pk thread_id=thread.pk %}#last-msg">{{ thread.last_post }}</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-4">
                            <p id="thread-page-info">Page <span id="first">1</span> of <span id="total">1</span></p>
                            <button class="btn btn-default btn-xs" id="prev-button">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-default btn-xs" id="next-button">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <button id="new-post-btn" class="btn btn-success" onclick="location.href='{% url "new_thread" group_id=group.pk %}';">
                                New topic
                            </button>
                        </div>
                    {% else %}
                        <p>This group has no conversations yet!</p>
                        <a href="{% url 'new_thread' group_id=group.pk %}">Why not start one?</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/group_threads.js' %}"></script>
    <script type="text/javascript">
        threadTable({{ threads | length }});
    </script>

{% endblock %}
