{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Your groups</h2>
                {% if groups %}
                    {% for group in groups %}
                        <h4><a href="{% url 'group' id=group.pk %}">{{ group.name }}</a></h4>
                    {% endfor %}
                {% else %}
                    <p>
                        You are not yet in any groups. Why not invite another user to join one - perhaps
                        <a href="{% url 'matches' %}">one who matches your preferences</a>?
                    </p>
                {% endif %}
                <button class="btn btn-success" onclick="location.href='{% url "new_group" %}'";>Start new group</button>
            </div>
        </div>
        {% if invited %}
            <div class="row">
                <div class="col-xs-12">
                    <h3>Groups you have been invited to join</h3>
                    <ul>
                        {% for group in invited %}
                            <li>
                                <a href="{% url 'group' id=group.pk %}">{{ group.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <div id="dashboard-buttons">
                    <button class="btn btn-default" onclick="location.href='{% url "dashboard" %}';">Dashboard</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
