{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% load anora %}

{% block load_media %}
    <script type="text/javascript" src="{% static 'lib/jquery-migrate-3.0.1.min.js' %}"></script> 
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Find {{ instrument | anora }} player for group {{ group.name }}!</h2>
                <form role="form" method="post" action="">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Send invitation</button>
                    </div>                    
                </form>
                <button class="btn btn-default" onclick="location.href='{% url "group" id=group.pk %}';">
                    Return to group
                </button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            $("input[name='invited_user']").focus();
            $("input[type='radio'][checked]").parent().addClass("chosen-instr");
        });
    </script>

{% endblock %}
