{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Update details for group {{ group.name }}</h3>
                <form role="form" method="post" action="">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <div class="form-group">
                        <button class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
