{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Welcome back, {{ user.username }}!</h2>
        </div>
        <div>
            <h3>Your public details:</h3>
            <ul>
                <li>Location: {{ location }}</li>
                <li>Looking for players within <strong>{{ profile.max_distance }} miles</strong>.</li>
            </ul>
            {% for instrument in instruments.all %}
                <p><strong>{{ instrument.instrument | capfirst }}</strong> player seeking players of the following instruments:</p>
                <ul>
                    {% for instr in instrument.desired_instruments.all %}
                        <li>{{ instr.instrument }}</li>
                    {% endfor %}
                </ul>
                <p>of the following standards:</p>
                <ul>
                    {% for standard in instrument.accepted_standards.all %}
                        <li>{{ standard.standard }}</li>
                    {% endfor %}
                </ul>
                Self-assessed standard on {{ instrument.instrument }}: "{{ instrument.standard }}".
            {% endfor %}
        </div>
        <div class="col-xs-12" id="dashboard-buttons">
            <button class="btn btn-success" onclick="location.href='{% url "edit profile" %}';">Edit profile</button>
            <button class="btn btn-success">Matching users</button>
            <button class="btn btn-success">My messages</button>
            <button class="btn btn-success">My groups</button>
        </div>
    </div>
</div>
{% endblock %}