{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block load_media %}
    <script src="{% static 'lib/jquery.formset.js' %}"></script>
    {{ profile_form.media }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form role="form" action="" method="post">
                    {% csrf_token %}
                    {{ base_form | as_bootstrap }}
                    {{ profile_form | as_bootstrap }}
                    {{ instrument_forms.management_form }}
                    <h4 id="instruments-heading">Your instruments:</h4>
                    {% for form in instrument_forms %}
                        <div class="instrument-form">
                            {{ form | as_bootstrap }}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(".instrument-form").formset({
            addText: "Add new instrument",
            deleteText: "Remove this instrument",
            addCssClass: "add-row btn btn-sm btn-default",
            deleteCssClass: "delete-row btn btn-sm btn-danger"
        });
    </script>

{% endblock %}
