{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% if matches %}
                    <h3>Your matching users:</h3>
                    <p>Where there are multiple matches, those nearest are shown first.</p>
                    <table class="table table-striped">
                        <thead>
                            <th>Your instrument</th>
                            <th>Instrument required</th>
                            <th>Matching users</th>
                        </thead>
                        <tbody>
                            {% for play, want in matches.iteritems %}
                                {% for instr, users in want.iteritems %}
                                    <tr {% if forloop.first %}class="first-wanted"{% endif %}>
                                        <td>
                                            {% if forloop.first %}
                                                {{ play | capfirst }}
                                            {% endif %}    
                                        </td>
                                        <td>{{ instr | capfirst }}</td>
                                        <td>
                                            <p class="num-matches">
                                                {% if users %}
                                                    {{ users | length }} match{{ users | length | pluralize:"es" }}
                                                    <span class="clickable show-it">Show</span>
                                                {% else %}
                                                    No matches
                                                {% endif %}
                                            </p>
                                            <ul class="user-match-list">
                                                {% for user in users %}
                                                    {% if forloop.counter <= limit %}
                                                        <li>
                                                            <a href="{% url 'user_profile' username=user %}">{{ user }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if users|length > limit %}
                                                    <a href="#">See all</a>
                                                {% endif %}
                                                <p class="clickable hide-it">Hide</p>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Sorry, there are no users matching any of your requirements. Perhaps you should widen your search - look for your Chamber Mates slightly further away, or be less demanding of their standard.</p>
                    <p>We will notify you whenever a new user signs up who fits your profile!</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" onclick="location.href='{% url "dashboard" %}';">Return to dashboard</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() { 
            $(".clickable.show-it").click(function() {
                $(this).hide();
                $(this).parents(".num-matches").siblings(".user-match-list").slideDown(400);
            });
            $(".clickable.hide-it").click(function() {
                $(this).parents(".user-match-list").siblings(".num-matches").children(".clickable.show-it").show();
                $(this).parents(".user-match-list").slideUp(400);
            });
        });
    </script>
{% endblock %}
