{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% if matches %}
                    <h3>Your matching users:</h3>
                    <table class="table table-striped">
                        <thead>
                            <th>Your instrument</th>
                            <th>Instrument required</th>
                            <th>Matching users</th>
                        </thead>
                        <tbody>
                            {% for play, want in matches.iteritems %}
                                {% for instr, users in want.iteritems %}
                                    <tr {% if forloop.first %}class="first-wanted"{% endif %}>
                                        <td>
                                            {% if forloop.first %}
                                                {{ play | capfirst }}
                                            {% endif %}    
                                        </td>
                                        <td>{{ instr | capfirst }}</td>
                                        <td>
                                            {% for user in users %}
                                                <a href="{% url 'user_profile' username=user %}">
                                                    {{ user }}{% if not forloop.last %}, {% endif %}
                                                </a>
                                            {% endfor %}
                                        </td>
                                    </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Sorry, there are no users matching any of your requirements. Perhaps you should widen your search - look for your Chamber Mates slightly further away, or be less demanding of their standard.</p>
                    <p>We will notify you whenever a new user signs up who fits your profile!</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" onclick="location.href='{% url "dashboard" %}';">Return to dashboard</button>
            </div>
        </div>
    </div>
{% endblock %}
