{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if new %}
                <div class="col-xs-12">
                    <strong>Thank you for registering, now please update your profile information via the link below.</strong>
                </div>
            {% endif %}
            <div class="col-xs-12">
                <p>Welcome to your awesome profile page - which is still under construction...</p>
            </div>
        </div>
    </div>
{% endblock %}
