{% extends "base.html" %}
{% load static %}

{% block load_media %}
    <script src="{% static 'lib/jquery.formset.js' %}"></script>
    {{ baseform.media }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Welcome back, {{ user.username }}!</h2>
                {% if incomplete_profile %}
                    <p>Please complete your profile with location and instrument information. We'll use this
                    information to match you up with the players you want in your local area!</p>
                {% endif %}
            </div>
            <div class="col-xs-12">
                <form role="form" action="" method="post">
                    {% csrf_token %}
                    {{ baseform.as_p }}
                    {{ instrument_forms.management_form }}
                    {% for form in instrument_forms %}
                        <div class="instrument-form">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(".instrument-form").formset({
            addText: "Add new instrument",
            deleteText: "Remove this instrument"
        });
    </script>

{% endblock %}
