{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Chamber Mates</title>
        <link rel="stylesheet" href="{% static 'lib/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
        <script type="text/javascript" src="{% static 'lib/jquery-3.2.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
        {% block load_media %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Chamber Mates</a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="menu">
                    <ul class="nav navbar-nav">
                        <li {% if active == "home" %}class="active"{% endif %}><a href="{% url 'home' %}">Home</a></li>
                        <li {% if active == "why" %}class="active"{% endif %}><a href="{% url 'why' %}">Why Chamber Music?</a></li>
                        {% if user.is_authenticated %}
                            <li {% if active == "donate" %}class="active"{% endif %}><a href="{% url 'donate' %}">Donate</a></li>
                            <li class="dropdown {% if active == "dashboard" %} active {% endif %}">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Dashboard
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                                    <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
                                    <li><a href="{% url 'matches' %}">Matches</a></li>
                                    <li><a href="{% url 'inbox' %}">Messages</a></li>
                                    <li><a href="{% url 'my_groups' %}">My Groups</a></li>
                                </ul>
                            </li>
                            <li {% if active == "logout" %}class="active"{% endif %}><a href="{% url 'logout' %}">Logout ({{ user.username }})</a></li>
                        {% else %}
                            <li {% if active == "register" %}class="active"{% endif %}><a href="{% url 'register' %}">Register</a></li>
                            <li {% if active == "login" %}class="active"}{% endif %}><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% if user.is_authenticated and active != "donate" %}
            {% include "donations/donate-banner.html" %}
        {% endif %}
        {% if messages %}
            <div class="container-fluid">
                {% for message in messages %}
                    <div class="row">
                        <div class="col-xs-12 message {% if message.tags %} {{ message.tags }} {% endif %}
                                    {% if forloop.last %} last {% endif %}">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
        {% if user_messages or new_matches or new_invites %}
            <div class="container-fluid" id="notifications">
                {% if user_messages %}
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="{% url 'inbox' %}">You have {{ user_messages | length }} new message{{ user_messages | length | pluralize }}!</a>
                        </div>
                    </div>
                {% endif %}
                {% if new_matches %}
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="{% url 'matches' %}">You have {{ new_matches | length }} potential new chambermate{{ new_matches | length | pluralize }}!</a>
                        </div>
                    </div>
                {% endif %}
                {% if new_invites %}
                <div class="row">
                    <div class="col-xs-12">
                        <a href="{% url 'my_groups' %}">You have {{ new_invites | length }} new group invitation{{ new_invites | length | pluralize }}!</a>
                    </div>
                </div>
            {% endif %}
            </div>
        {% endif %}
    </body>
</html>