{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block load_media %}
    <script type="text/javascript" src="{% static 'lib/jquery-migrate-3.0.1.min.js' %}"></script> 
    {{ form.media }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form role="form" method="post" action="">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#div_id_user_to").insertBefore("#div_id_title");
            {% if reply %}
                $("textarea#id_message").focus();
            {% endif %}
        });
    </script>

{% endblock %}
